eventManagement/src/main/resources/event.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="2.1">

    <!-- Annotation to specify JAXB package -->
    <xs:annotation>
        <xs:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="guru.springframework.domain"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:element name="events">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="event" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:long"/>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element name="category" type="Category"/>
                            <xs:element name="room" type="Room"/>
                            <xs:element name="registrationWrapper" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="registration" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="id" type="xs:long"/>
                                                    <xs:element name="participant" type="Participant"/>
                                                    <xs:element name="amountPaid" type="xs:double"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="eventStaffWrapper" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="eventStaff" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="id" type="xs:long"/>
                                                    <xs:element name="role" type="xs:string"/>
                                                    <xs:element name="staffMember" type="StaffMember"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="eventMaterialWrapper" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="eventMaterial" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="id" type="xs:long"/>
                                                    <xs:element name="quantityUsed" type="xs:integer"/>
                                                    <xs:element name="material" type="Material"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:key name="eventKey">
            <xs:selector xpath="event"/>
            <xs:field xpath="id"/>
        </xs:key>

        <xs:key name="staffMemberKey">
            <xs:selector xpath="event/eventStaffWrapper/eventStaff/staffMember"/>
            <xs:field xpath="id"/>
        </xs:key>

        <xs:key name="materialKey">
            <xs:selector xpath="event/eventMaterialWrapper/eventMaterial/material"/>
            <xs:field xpath="id"/>
        </xs:key>

        <xs:keyref name="eventStaffRef" refer="staffMemberKey">
            <xs:selector xpath="event/eventStaffWrapper/eventStaff/staffMember"/>
            <xs:field xpath="id"/>
        </xs:keyref>

        <xs:keyref name="eventMaterialRef" refer="materialKey">
            <xs:selector xpath="event/eventMaterialWrapper/eventMaterial/material"/>
            <xs:field xpath="id"/>
        </xs:keyref>
    </xs:element>

    <xs:complexType name="Registration">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="participant" type="Participant"/>
            <xs:element name="amountPaid" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Participant">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="fullName" type="xs:string"/>
            <xs:element name="email" type="emailType"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="roles" type="xs:string"/>
            <xs:element name="createdAt" type="xs:dateTime"/>
            <xs:element name="updatedAt" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StaffMember">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="fullName" type="xs:string"/>
            <xs:element name="email" type="emailType"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="roles" type="xs:string"/>
            <xs:element name="createdAt" type="xs:dateTime"/>
            <xs:element name="updatedAt" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Material">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="quantity" type="xs:integer"/>
            <xs:element name="unit" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Category">
        <xs:sequence>
            <xs:element name="id" type="xs:double"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Room">
        <xs:sequence>
            <xs:element name="id" type="xs:double"/>
            <xs:element name="capacity" type="xs:double"/>
            <xs:element name="hourlyRate" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="emailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>